<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="col-md-6">
        <h2 class="text-muted">
            Student id is
            <span class="text-info">
                <%= student.id %>
            </span>
        </h2>
    </div>

</body>